<%- include('partials/header') -%>

<div class="logo bg-body-tertiary rounded-3">
    <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"></use></svg>
    <img class="mx-auto logo-img" src="images/profile.png"/>
    <div class="d-inline-flex gap-2 mb-5">
        
      <a href="/login" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
        Log In
        <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg>
      </a>
      <a href="/register" class="btn btn-outline-primary btn-lg px-4 rounded-pill" type="button">
        Sign Up
      </a>
    </div>
  </div>

<%- include('partials/footer') -%>