<%- include('partials/header') -%>
<script>
    document.querySelector(".dropdown").classList.remove("hidden");
</script>   
<h1><%= postTitle %></h1>
    <p><%= postContent %></p>

<%- include('partials/footer') -%>